@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 1000vh;
}

p {
  position: fixed;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: #4cc1f6;
  border: 1px solid #0083d1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: rgba(0,0,0, .1);
  color: black;
}